@*
    *
    * (c) 2021-2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@page "/CardManagment/Restorer/Cards/{id:int}"
@inject NavigationManager NavManager
@inherits OwningComponentBase

<AuthorizeView>
    <Authorized Context="_authContext">
        @if (GetCurrentRestorer() != null && Id == int.Parse(_authContext.User.Identity.Name))
        {
            <div class="top-row centered-title">

                <h1>@_currentRestorer.RestaurantName</h1>
                <h3>Bienvenue dans la gestion des cartes</h3>
                <p>Vous pouvez ici ajouter, modifier ou supprimer une carte.</p>
                @*Generate here dynamic cards*@
                
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">
                        
                        @*<a class="btn btn-andromede">Ajouter une carte</a>*@
                    </div>
                    <div class="col-5"></div>
                </div>
            </div>
        }
        else
        {
            <Andromede.Pages.NotAuthorizedViewer />
        }
    </Authorized>
    <NotAuthorized>
        <Andromede.Pages.NotAuthorizedViewer />
    </NotAuthorized>
</AuthorizeView>


@code
{
    [Parameter]
    public int Id { get; set; }

    private Restorer _currentRestorer;
    private IRestorerRepository _restorerRepository;

    protected override void OnInitialized()
    {
        _restorerRepository = ScopedServices.GetRequiredService<IRestorerRepository>();
    }

    public Restorer GetCurrentRestorer()
    {
        _currentRestorer = _restorerRepository.GetRestorerWithId(Id);
        return _currentRestorer;
    }
}

