@*
    *
    * (c) 2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@page "/CardManagment/CardsQRCode"

@inject NavigationManager NavManager
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IRestorerRepository RestorerRepository

@inherits OwningComponentBase

@using Tools
@using Microsoft.Extensions.Configuration

<AuthorizeView>
    <Authorized Context="_authContext">
        @if (GetCurrentRestorer(_authContext.User.Identity.Name) != null)
        {
            <div class="top-row centered-title">
                <div class="row">
                    <div class="col-12">
                        <img class="small centered-image bottom-divider" src="img/andromede_white_bg.png" />
                        <h5>Essayez par vous même !</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img width="280" src="@String.Format("data:image/png;base64,{0}",
                                               Convert.ToBase64String(QRCodeManager.GenerateQRCode
                                                                     (Configuration.GetValue<string>("DomainName") + $"CardManagment/Customer/Cards/{_authContext.User.Identity.Name}"
                                                                      ,10)))" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Le bouton ci-dessous vous permettera de recevoir un mail avec une plaquette en PDF et un fichier photo du QR Code</h5>
                    </div>
                </div>

                <button class="btn btn-andromede top-divider" @onclick="SendQRCodeMail">Recevoir mes codes</button>

                @if (_isCodeSended)
                {
                    <h6 class="green-message top-divider">Le mail a été correctement envoyé. Vérifiez bien vos spams.</h6>
                }
            </div>
        }
        else
        {
            <NotAuthorizedViewer />
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedViewer />
    </NotAuthorized>
</AuthorizeView>

@code {
    private Restorer _restorer;

    private bool _isCodeSended;

    protected override void OnInitialized()
    {
        _restorer = new Restorer();
        _isCodeSended = false;
    }

    Restorer GetCurrentRestorer(string iId)
    {
        _restorer = RestorerRepository.GetRestorerWithId(int.Parse(iId));
        return _restorer;
    }

    async Task SendQRCodeMail()
    {
        _isCodeSended = true;
        await QRCodeMailSender.SendMail(_restorer, Configuration.GetValue<string>("DomainName"));
    }
}
