@*
    *
    * (c) 2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@page "/CardManagment/AdminCustomerView/Cards/{RestorerId:int}"
@inherits OwningComponentBase

<AuthorizeView>
    <Authorized Context="_authContext">
        @if (GetCurrentRestorer() != null && RestorerId == int.Parse(_authContext.User.Identity.Name) && isRestorerSubscribed())
        {
            <div class="top-row centered-title">
                <h1 class="to-hide-for-mobile">@_currentRestorer.RestaurantName</h1>
                @if (!_restorerRepository.GetCards(_currentRestorer.RestorerId).Any())
                {
                    <h3 style="margin-top:10%">Aucune carte disponible</h3>
                    <img src="img/ico/sad_boy.png" width="150" />
                }
                @foreach (Card aCard in _restorerRepository.GetCards(_currentRestorer.RestorerId))
                {
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <a class="btn btn-andromede" href=@($"https://localhost:5001/Customer/Cards/{aCard.CardId}.pdf") target="_blank">@aCard.CardName</a>
                        </div>
                        <div class="col-2"></div>
                    </div>
                }
            </div>
        }
        else
        {
            <NotAuthorizedViewer />
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedViewer />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int RestorerId { get; set; }

    private Restorer _currentRestorer;
    private IRestorerRepository _restorerRepository;

    protected override void OnInitialized()
    {
        _restorerRepository = ScopedServices.GetRequiredService<IRestorerRepository>();
        _currentRestorer = _restorerRepository.GetRestorerWithId(RestorerId);
    }

    Restorer GetCurrentRestorer()
    {
        return _currentRestorer;
    }

    bool isRestorerSubscribed()
    {
        if (_currentRestorer != null)
        {
            return _currentRestorer.Subscribed;
        }
        return false;
    }
}
