@*
*
* (c) 2021-2021 Copyright Andromede
* Unauthorized use and disclosure strictly forbidden
*
*@

@page "/CardManagment/CardCode"

<AuthorizeView>
    <Authorized>
        <div class="top-row centered-title">
            <img width="500rem" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(QRCodeManager.GenerateQRCode("google.com",10)))" />
            <a class="btn btn-andromede" href="Tools/Download">Download</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedViewer />
    </NotAuthorized>
</AuthorizeView>
@*Create a method in SqlConnection that retrieve the SIRET Number*@