@*
    *
    * (c) 2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@page "/CardManagment/Customer/Cards/{RestorerId:int}"

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IRestorerRepository RestorerRepository

@inherits OwningComponentBase

@using Microsoft.Extensions.Configuration

@if (_restorer != null)
{
    <div class="top-row centered-title">
        <h1 class="to-hide-for-mobile">@_restorer.RestaurantName</h1>
        @if (!RestorerRepository.GetCards(_restorer.RestorerId).Any())
        {
            <h3 style="margin-top:10%">Aucune carte disponible</h3>
            <img src="img/ico/sad_boy.png" width="150" />
        }
        @foreach (Card aCard in RestorerRepository.GetCards(_restorer.RestorerId))
        {
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <a class="btn btn-andromede" href=@(Configuration.GetValue<string>("DomainName") + $"/Customer/Cards/{aCard.CardId}.pdf") target="_blank">@aCard.CardName</a>
                </div>
                <div class="col-2"></div>
            </div>
        }
    </div>
}
else
{
    <NotAuthorizedViewer />
}

@code {
    [Parameter]
    public int RestorerId { get; set; }

    private Restorer _restorer;

    protected override void OnInitialized()
    {
        _restorer = RestorerRepository.GetRestorerWithId(RestorerId);
    }
}
