@page "/CardManagment/Customer/Cards/{RestorerId:int}"

@inherits OwningComponentBase
@if (GetCurrentRestorer() != null)
{
    <div class="top-row centered-title">
        <h1 class="to-hide-for-mobile">@_currentRestorer.RestaurantName</h1>
        @if (!_restorerRepository.GetCards(_currentRestorer.RestorerId).Any())
        {
            <h3 style="margin-top:10%">Aucune carte disponible</h3>
            <img src="img/ico/sad_boy.png" width="150" />
        }
        @foreach (Card aCard in _restorerRepository.GetCards(_currentRestorer.RestorerId))
        {
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <a class="btn btn-andromede" href=@($"https://localhost:5001/Customer/Cards/{aCard.CardId}.pdf") target="_blank">@aCard.CardName</a>
                </div>
                <div class="col-2"></div>
            </div>
        }
    </div>
}
else
{
<NotAuthorizedViewer />
}

@code {
    [Parameter]
    public int RestorerId { get; set; }

    private Restorer _currentRestorer;
    private IRestorerRepository _restorerRepository;

    protected override void OnInitialized()
    {
        _restorerRepository = ScopedServices.GetRequiredService<IRestorerRepository>();
    }

    Restorer GetCurrentRestorer()
    {
        _currentRestorer = _restorerRepository.GetRestorerWithId(RestorerId);
        return _currentRestorer;
    }
}
