@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@using Microsoft.Extensions.Configuration

@page "/cardsmanagment/customer/fullsizepdfviewer/{CardId:int}"

<object class="full-size-pdf" data=@(Configuration.GetValue<string>("CardsFileURL") + $"{CardId}.pdf") type="application/pdf">
    <p>Erreur de navigateur. Veuillez <a href=@(Configuration.GetValue<string>("CardsFileURL") + $"{CardId}.pdf")>cliquer sur ce lien</a> afin de voir le PDF</p>
</object>

<style>
    .full-size-pdf {
        width: 100%;
        height: 100vh;
    }
</style>

@code {
    [Parameter]
    public int CardId { get; set; }
}
