AndromedeAlpha/.vs/
AndromedeAlpha/Andromede/obj/
AndromedeAlpha/Andromede/bin/
AndromedeAlpha/DatabaseConnection/obj/
AndromedeAlpha/DatabaseConnection/bin/
AndromedeAlpha/QuickResponseCodeManager/obj/
AndromedeAlpha/QuickResponseCodeManager/bin/