@*
    *
    * (c) 2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@


@page "/"

<div class="top-row px-2 centered-title">
    <img class="small centered-image bottom-divider" src="img/andromede_white_bg_alone.png" />
    <div class="row bottom-divider">
        <div class="col-sm-8">
            <p style="text-align:justify">
                <strong>Andromede</strong> (Restaurant Cards Management - Management des Cartes de Restaurant) est une société française située dans le sud de la France.
                Créée par un développeur, elle a pour but d'offrir la <strong>numérisation des cartes de restaurants à bas prix</strong>, dans un monde évolutif où le digital évolue et devient <strong>important</strong>.
                En effet les restaurants doivent aujourd'hui débourser une grande somme d'argent afin de pouvoir modernisé et numériser leur carte, de plus chaque changement leur sera coûteux et potentiellement problématique. Andromede propose une <strong>solution rapide, efficace et autonome</strong> aux restaurateurs grâce à une interface simple.
                Un abonnement est nécessaire afin d’accéder aux services. Les <strong>QRCodes</strong> de vos restaurants sont <strong>uniques</strong> et ne changeront <strong>jamais</strong>. Tout est sécurisé et rapide. Vous pouvez contacter Andromede à l'aide des différents <strong>points de contact</strong> en bas de page.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="img/andromede-logo.png" width=200 />
        </div>
    </div>
    <div class="horizontal-division"></div>
    <div class="row top-divider">
        <div class="col-sm-6">
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <h6><strong>Denis Lizy</strong></h6>
                    <small>Commercial Andromede</small>
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <a href="mailto:denis.lizy@andromede-rcm.fr" class="btn btn-andromede"><span class="oi oi-envelope-closed form-icon"></span>denis.lizy@andromede-rcm.fr</a>
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-12">  
                    <a href="tel:+33664090401" class="btn btn-andromede"><span class="oi oi-phone form-icon"></span>06.64.09.04.01</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <h6><strong>Corentin Lizy</strong></h6>
                    <small>CEO & Développeur Andromede</small>
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <a href="mailto:corentin.lizy@andromede-rcm.fr" class="btn btn-andromede"><span class="oi oi-envelope-closed form-icon"></span>corentin.lizy@andromede-rcm.fr</a>
                </div>
            </div>
            <div class="row bottom-divider">
                <div class="col-sm-12">
                    <a href="tel:+33762749946" class="btn btn-andromede"><span class="oi oi-phone form-icon"></span>07.62.74.99.46</a>
                </div>
            </div>
        </div>
    </div>
</div>

