


<div class="top-row centered-title">
    <img class="small bottom-divider" src="img/andromede_white_bg.png" />
    <div class="row">
        <div class="col-12">
            <h3 class="bottom-divider">Vous êtes en zone interdite, il n'y a rien ici</h3>
        </div>
    </div>
    <img class="bottom-divider" src="img/ico/forbidden.png" width="400px" height="350px"/>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
            <a href="/" class="btn btn-andromede bottom-divider">Accueil</a>
        </div>
        <div class="col-5"></div>
    </div>
</div>
