@*
    *
    * (c) 2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IRestorerRepository RestorerRepository
@inject IRestorerClaimRepository RestorerClaimRepository

@inherits OwningComponentBase

@using Tools
@using Microsoft.Extensions.Configuration

@if (!_isFormSubmitted)
{
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <button class="btn btn-andromede" @onclick="ResetPassword">Confirmer</button>
        </div>
        <div class="col-3">
            <button class="btn btn-andromede" @onclick="CloseResetPasswordFromProfileModal">Annuler</button>
        </div>
        <div class="col-2"></div>
    </div>
}
else
{
    <h6 class="bottom-divider">Un email a été envoyé.<br /> Vous avez 4H pour changer votre mot de passe. <br /> Vérifiez vos spams.</h6>
    <div class="centered-title bottom-divider">
        <button class="btn btn-andromede" @onclick="CloseResetPasswordFromProfileModal">Fermer</button>
    </div>
}

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public Restorer Restorer { get; set; }

    private RestorerClaim _restorerClaim;

    private bool _isFormSubmitted;

    protected override void OnInitialized()
    {
        _isFormSubmitted = false;
    }

    async Task ResetPassword()
    {
        _isFormSubmitted = true;
        if (Restorer == null)
        {
            await ModalInstance.CancelAsync();
            return;
        }

        _restorerClaim = RestorerClaimGenerator.GenerateRestorerClaim(Restorer.RestorerId);
        RestorerClaimRepository.NewRestorerClaim(_restorerClaim);
        await ResetPasswordMailSender.SendMail(_restorerClaim, Restorer, Configuration.GetValue<string>("DomainName"));
    }

    async Task CloseResetPasswordFromProfileModal()
    {
        await ModalInstance.CancelAsync();
    }
}
