@*
    *
    * (c) 2021 Copyright Andromede
    * Unauthorized use and disclosure strictly forbidden
    *
*@

@using Andromede.Pages.Tools

@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@inject ICardRepository CardRepository
@inject IPdfFileManager FileManager 

@inherits OwningComponentBase

<div class="row">
    <div class="col-2"></div>
    <div class="col-5">
        <button class="btn btn-andromede" @onclick="DeleteCurrentCard">Confirmer</button>
    </div>
    <div class="col-3">
        <button class="btn btn-andromede" @onclick="CloseDeleteCardModal">Annuler</button>
    </div>
    <div class="col-2"></div>
</div>




@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public int CardId { get; set; }

    [Parameter]
    public int RestorerId { get; set; }

    private Card _restorerCard;
    private string _fileName;

    protected override void OnInitialized()
    {
        _restorerCard = CardRepository.GetCardWithId(CardId);
        _fileName = $"{CardId}.pdf";
    }

    async Task DeleteCurrentCard()
    {
        CardRepository.DeleteCard(CardId);
        await FileManager.DeleteCard(_fileName);
        NavManager.NavigateTo($"/CardManagment/Restorer/Cards/{RestorerId}", forceLoad: true);
        await ModalInstance.CloseAsync(ModalResult.Ok<Card>(_restorerCard));
    }

    async Task CloseDeleteCardModal()
    {
        await ModalInstance.CancelAsync();
    }
}
