.subform-registration-link {
    margin-left: 20%;
}

.password-eye-newpassword {
    width: 3rem;
    margin-top: 30px;
}


@media (max-width: 1048px) {
    .subform-registration-link {
        margin-left: 15%;
    }
}


@media (max-width: 641px) {
    .subform-registration-link {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .password-eye-newpassword {
        margin-top: 0;
    }
}
