

@media (max-width: 1048px) {
    #modification-form {
        margin-top: 1rem;
        margin-right: 8%;
        margin-left: 8%;
    }
}


@media (max-width: 641px) {
    #modification-form {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}
