.subform-registration-link {
    margin-left: 20%;
}

#password-eye-registration {
    width: 3rem;
    margin-top:17%;
}


@media (max-width: 1048px) {
    .subform-registration-link {
        margin-left: 15%;
    }

    #password-eye-registration {
        margin-top: 20%;
    }
}


@media (max-width: 641px) {
    .subform-registration-link {
        margin-left: 0;
    }

    #password-eye-registration {
        margin-top: 20%;
    }
}

@media (max-width: 575px) {
    #password-eye-registration {
        margin-top: 0;
    }
}